{% extends 'layouts/base.html.twig' %}

{% block base_content %}
    <!-- NORMAL -->
    <div class="container window-container">
        
        {% block content %}{% endblock %}

        
    </div> <!-- //container -->
{% endblock %}
