{% extends:'layouts.dialog' %}
<?php $site = container()->get('\app\lib\SiteService'); ?>

{% block:dialog_content %}
<form method="post">
    <div class="error">{{$message}}</div>

    <p>
        We just sent you a letter via certified mail containing your password. You should receieve it in 5-7 business days.
    </p>
    <p>
        Just kidding. It was an email and it probably already arrived...
    </p>
    <p>
        <?php echo $site->anchor('auth/login', 'You are very funny and also handsome, login...'); ?>
    </p>

</form>

{{view:'partials.credits'}}

{% endblock %}
